<%- if @message %>
<table>
  <tr>
    <th>From</th>
    <th>Title</th>
    <th></th>
  </tr>

<% @message.each do |message| %>
	<%- @sender = User.find(message.sender_id).login %>
  <tr>
    <td><%= link_to @sender, message %></td>
    <td><%= link_to message.title, message %></td>
    <td><%= link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% else %>
	<br />
	<h2>No messages</h2>
<% end %>

<%#= link_to 'New Message', new_message_path %>