<h1>Listing messages</h1>

<table>
  <tr>
    <th>From</th>
    <th>Title</th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= link_to message.sender_id, message %></td>
    <td><%= link_to message.title, message %></td>
    <td><%= link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
