<%- if @message.length >= 1 %>
<table>
  <tr>
    <th>From</th>
    <th>Title</th>
    <th></th>
  </tr>

<% @message.each { |message| message.each { |m| %>
	<%#- @sender = User.find(message.recipient_id).login %>
  <tr>
    <td><%= link_to User.find(m.sender_id).login, m %></td>
    <td><%= link_to m.title, m %></td>
    <td><%= link_to 'Delete', m, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% } } %>
</table>

<% else %>
	<br />
	<h2>No messages</h2>
<% end %>

<%#= link_to 'New Message', new_message_path %>