/*
	_forms.scss
*/
// define input types
$textinput-selector: 
	'textarea,
	input[type=email], 
	input[type=tel], 
	input[type=text], 
	input[type=phone], 
	input[type=search],
	input[type=number],
	input[type=password]';

$button-selector:
	'a.button,
	button,
	input[type=reset],
	input[type=submit],
	input[type=button]';


#{$textinput-selector} {
	display: inline-block;
	background: 0;
	border: 0;
	padding: 0;
	-webkit-appearance: none;
	outline:none;
	
//	@include gradient($grey, $white);
//	background: $white url('../images/css/textfield-gradient.png') repeat-x;

	
	
	font-family: inherit;
	font-size: inherit;
	border: 1px solid $green-dark;
	
	padding: 3px;
	
	&:focus {
		-webkit-appearance: none;
		border-color: $pop;
		@include gradient($white, #fff);
		@include prefix(box-shadow, 'rgba(0,0,0,.2) 0px 0px 3px, inset #fff 0px 1px 0px');
		color: $text-color;
	}
}

textarea {
	height: $line-height * 3;
	min-height: $line-height * 3;
}

input[type=search], input[type=text].search {
	@include prefix(border-radius, 2em);
	
	// handle webkit being silly
	&::-webkit-search-results-button {
		display: none;
		margin-left: .6em;
	}
}


$button-shadow: rgba(0,0,0,.2) 0px 0px 5px;

#{$button-selector} {
	// reset first
	display: inline-block;
	-webkit-appearance: none;
	-webkit-box-sizing: content-box;
	-webkit-box-align: normal;
	border: 0;
	padding: 0;
	background: transparent;
	color: inherit;
	
	//now style
	
	background: $green-dark;
	
	
	padding: .3em .7em;
	
	font-family: 'Helvetica Neue', Arial, Helvetica, Sans-serif;
	font-size: inherit;
	line-height: 1.5;
	
	color: $light-text;
	
	&:hover {
        background: $pop;
        cursor: pointer;
	}
	
	&.positive {
		@include gradient(#d9ecd5, #8fca89);
		border-color: #1b930f;
		color: #042900;
		text-shadow: #d9edd7 0px 1px 0px;
		@include prefix(box-shadow, $button-shadow);
		&:hover {
			@include gradient( darken(#d9ecd5, 6%), darken(#8fca89, 10%));
		}
	}
	
	&.negative {
		background: transparent;
		color: #581c1c;
		@include prefix(box-shadow, $button-shadow);
		border: 1px solid $grey-border;
		&:hover {
			color: lighten(#581c1c, 10%);
		}
//		border: 0;
//		 background: #c9c9c9;
//		 padding: 2px;
//		@include prefix(border-radius, .7em);
//		 @include prefix(box-shadow, #bbb 0px 0px 5px);
	
		behavior: url(PIE.php); //derp
	
	
	}
}

select {
	outline: 0;
	background-color: #eee;
	border: 1px solid $grey-border;
	@include prefix(border-radius, 2px);
	color: $text-color;
	&:focus {
		@include prefix(box-shadow, 'rgba(0,0,0,.2) 0px 0px 3px');
		border-color: $black;
		background-color: #fff;
		color: $black;
	}
}
option {
	background: $white;
	&:hover {
		background: $exclamatory;
	}
	&:focus {
		background: $exclamatory;
	}
}

/* Ruby form styling */
form {
    div {
        width: colspan(12);
        line-height: $line-height * 2;

        label {
            @include h5;
        }
    }
}

