/*
	_structure.scss
	Gives all pages thier basic structure
*/

/* Sticky Footer 
	Based off http://ryanfait.com/sticky-footer/ 
*/
body {
	background: $white ;
}

#globalwrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -1 * $footer-height;
	padding: 0 !important;
	min-width: $page-min-width !important;
	overflow: hidden;
	position: relative;
}

#push {
	height: $footer-height;
}

#footer {
	height: $footer-height;
	min-width: $page-min-width !important;
	
	display: none;
}

/* PAGE STRUCTURE */
#header {
	h1 {
		float: left;
	}
	.meta {
		line-height: $line-height;
		float: right;
		width: $pane-width;
		text-align: right;
		height: $line-height * 3;
		padding-right: 10px;
		
		.account {
			margin-top: 3px;
			margin-bottom: 4px;
		}
		
		.logout {
			&:before {
				content:'• ';
			}
			&:hover:before {
				color: $near-black;
			}
			
		}
	}
	nav {
		clear: both;
		@mixin navlist {
			@include clearfix;
			clear: both;
			li { display: inline; }
			a {
				display: block;
				float: left;
				
				padding: 0 10px;
				
				@include h4;
				line-height: $line-height * 2;
			}	
		}
		li {display: inline;}
		#sections {
			@include navlist;
			background: $near-black;
			border-top: 1px solid $black;
			height: $line-height * 2 - 1px;
			a {
				line-height: $line-height * 2 - 10px;
				padding: 5px 10px 4px 10px;
				letter-spacing: 0.1em;
				color: #ccc;
				text-shadow: #000 0px 1px 0px, #fff 0px -1px 0px;
				
				&:hover {
					color: #fff;
					text-shadow: #000 0px 1px 0px, #fff 0px -1px 0px, #fff 0px 0px 10px;
					
				}
				
				&.active {
					position: relative;
					background: $grey;
					padding-top: 0;
					top: 6px;
					border-left: 1px solid lighten($grey, 6);
					border-right: 1px solid lighten($grey, 6);
					color: #fff;
				}
			}
		}
		#subsections {
			@include navlist;
			border-top: 1px solid lighten($grey, 6);
			background: $grey;
			height: $line-height * 2 - 1px;
			a {
				line-height: $line-height * 2 - 1px;
				font-weight: normal;
				color: #252525;
				text-shadow: #ccc 0px 1px 0px;
				&:hover {
					color: darken($pop, 10%);
					
				}
				&.active {
					font-weight: bold;
				}
			}
		}
	}
}