<section id="overview">
	Welcome to the GroMunity. It's an online community for sharing and trading with your own garden's crops, helping out your neighbor, and helping rid your community of food waste. We hope that it will help you localize your food sources and simplify your life, so you finally don't have to worry about where your produce came from. Happy farming and bon appetit.
</section>
